package-lock.json
package.json

/public
/tmp/
/.idea/
/.sass-cache/
.DS_Store

bower_components
node_modules

/coverage
/pa11y-screen-capture
/cypress/screenshots
/cypress/videos
__snapshots__

*.json
*.sh
.*

/views/partials

CODEOWNERS
Makefile
Procfile
