version: 2.1
orbs:
  tool-kit: financial-times/dotcom-tool-kit@5
executors:
  node:
    docker:
      - image: cimg/node:22.12-browsers
jobs:
  checkout:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - tool-kit/persist-workspace:
          path: .
workflows:
  tool-kit:
    when:
      not:
        equal:
          - scheduled_pipeline
          - << pipeline.trigger_source >>
    jobs:
      - checkout:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/setup:
          executor: node
          requires:
            - checkout
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/build:
          executor: node
          requires:
            - tool-kit/setup
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/test:
          executor: node
          requires:
            - tool-kit/build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/deploy-review:
          executor: node
          requires:
            - tool-kit/build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
            branches:
              ignore: main
          cloudsmith-org: financial-times
          cloudsmith-service-account: cp-lifecycle-read-write
      - tool-kit/deploy-staging:
          executor: node
          requires:
            - tool-kit/build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
            branches:
              only: main
          cloudsmith-org: financial-times
          cloudsmith-service-account: cp-lifecycle-read-write
      - tool-kit/e2e-test-review:
          executor: node
          requires:
            - tool-kit/deploy-review
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/e2e-test-staging:
          executor: node
          requires:
            - tool-kit/deploy-staging
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
      - tool-kit/deploy-production:
          executor: node
          requires:
            - tool-kit/test
            - tool-kit/e2e-test-staging
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+(-.+)?/
            branches:
              only: main
          cloudsmith-org: financial-times
          cloudsmith-service-account: cp-lifecycle-read-write
  nightly:
    when:
      and:
        - equal:
            - scheduled_pipeline
            - << pipeline.trigger_source >>
        - equal:
            - nightly
            - << pipeline.schedule.name >>
    jobs:
      - checkout
      - tool-kit/setup:
          executor: node
          requires:
            - checkout
      - tool-kit/build:
          executor: node
          requires:
            - tool-kit/setup
      - tool-kit/test:
          executor: node
          requires:
            - tool-kit/build
      - tool-kit/deploy-review:
          executor: node
          requires:
            - tool-kit/build
          filters:
            branches:
              ignore: main
          cloudsmith-org: financial-times
          cloudsmith-service-account: cp-lifecycle-read-write
